<section data-ng-controller="FriendsController" ng-init="list()">
    <div data-ng-show="pendingFriends.length>0">
    <h1>Pending Friends</h1>
    <li ng-repeat="pendingFriend in pendingFriends">
        <a data-ng-href="#!api/friends/{{pendingFriend._id}}" data-ng-bind="pendingFriend.fullName"></a>
        <br>
        <p>{{pendingFriend.username}}</p>
        <button type="button" ng-click="accept(pendingFriend)">Accept Request</button>
    </li>
    </div>
    <h2>Friends</h2>
    <li ng-repeat="friend in friends">
        <a data-ng-href="#!api/friends/{{friend._id}}" data-ng-bind="friend.fullName"></a>
        <a href="#!/interactions/{{friend._id}}">view log</a>
        <!--<a href="/#!/interactions/create">Log New Event!</a>-->
        <br>
        <p>{{friend.username}}</p>
    </li>

    <div data-ng-show="error">
        <strong data-ng-bind="error"></strong>
    </div>

</section>

<!--<section data-ng-controller="FriendsController" ng-init="listPending()">-->
    <!--<div data-ng-show="pendingFriends.length>0">-->
        <!--<h1>Pending Friends</h1>-->
        <!--<li ng-repeat="friend in pendingFriends">-->
            <!--<a data-ng-href="#!api/friends/{{friend._id}}" data-ng-bind="friend.fullName"></a>-->
            <!--<br>-->
            <!--<p>{{friend.username}}</p>-->
            <!--<button ng-click="accept(friend)">Accept Request</button>-->
            <!--<button></button>-->
        <!--</li>-->
    <!--</div>-->

<!--</section>-->