<section data-ng-controller="InteractionsController" ng-init="friendViewer()">
    <div class="nav" >
        <ul class="pull-left"><li><a href="#!/">Home</a></li></ul>
        <ul ng-show="authentication.user" class="pull-right">
            <li><a href="/#!/users"> User List</a> </li>
            <li><a href="/#!/interactions/create">Log New Event!</a></li>
            <li ng-show="authentication.user.pendingFriends.length > 0 || authentication.user.friends.length > 0"><a href="/#!/friends">Friends</a></li>
            <li><a href="/signout">Signout</a></li>
        </ul>
    </div>
    <div ng-init="getScore()">
        <h>Stats</h>
        <p>Personal score: {{stats.userBalance}}</p>
        <p>Friend score: {{stats.friendBalance}}</p>
    </div>
    <div class="container">
        <div ng-show="logs.length === 0"> Looks like you don't have any logs yet... get logging!</div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div ng-show="logs.length === 0"> Looks like you don't have any logs yet... get logging!</div>
                <table ng-show="logs.length !== 0" >
                    <tr>
                        <th><div class="internalCell">Event</div></th>
                        <th><div class="internalCell">Description</div></th>
                        <th> <div class="internalCell">Score</div></th>
                    </tr>
                    <tr ng-repeat="log in logs">
                        <div>
                            <td >{{log.instigator.username}} did {{log.target.username}} a favour for {{log.level}}!</td>
                            <td ng-click="openFriendLink(log)" >{{log.description}}</td>
                            <td>  {{log.level}}</td>
                        </div>
                    </tr>
                </table>

            </div>
            <div class="col-xs-6 col-md-6">
                <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick">
                </canvas>
            </div>
        </div>

    </div>
</section>